/* In your external CSS file (e.g., styles.css) */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar navbar-light bg-light px-3 {
    background-color: rgb(164, 56, 56);
    
  }

  .navbar-brand{
    padding-left: 20px;
    font-family: kanit;
    font-weight: 600;
  }

  .scrollspy-example{
    margin: 2em;
  }

  .bdy-main{
    margin-top: 5em;
  }

  .bdy-main p {
    margin-bottom: 3em;
  }

  .bdy-main h4{
    font-weight: 600;
    /* align-items: self-start; */
  }