@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body {
    font-family: syne;
    /* background-image: url("https://4vector.com/i/free-vector-black-checkered-tile-the-background-vector_016599_all-free-download.com_14353588.jpg"); */
    background-repeat: repeat;
    background-size: 40em  ;
}