.navbar{
    /* font-weight: 800; */
    /* color:rgb(186, 168, 53); */
    background-color: rgb(238, 160, 43);
    font-size: 1.2em;
    padding-right: 2em;
    font-weight: 500;
    /* background-color: blue; */
    border-radius: 2em;
    /* margin */
    
}

.navbar navbar-contents1{
    font-size: 1.2em;
}